html{
    scroll-behavior: smooth;
}
body{
    font-family: "montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Roboto", sans-serif;

}

/* -------------header start ---------------- */
header{
    background-image: url(imges/homebg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #a3d2ca;
}
.banner-container{
    height: 100vh;
}
.navbar-brand img{
    width: 5rem;
    height: 5rem;
}
.navbar{
    padding: 1% 10%;
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar-icon{
    color: white;
}
.nav-link{
    color: white;
    margin: 10px;
    border-radius: 5px;
    transform: scale(1.1);
}
.banner-container h1{
    font-family: "Handlee", cursive;
    font-size: 3.5rem;
    background-color: rgba(7, 101, 190, 0.7);
    padding: 10px 20px;
    border-radius: 10px;
}

/* -------------------features start -------------------*/
#features{
    padding: 5% 10%;
    background: bisque;
}
.features-col{
    border: solid brown;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    transition: .5s;
}
.features-col:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
.icon-style{
    background: brown;
    color: white;
    padding: 15px;
    margin: 5px 0;
}
.section_title h3{
    font-weight: bolder ;
}
.hr-style{
    border: 1px solid black;
}

/* about me start--------------- */
#About-Me{
    padding: 5% 10%;
    background: bisque;
}
#About-Me p{
    font-size: 1rem;
    margin: 0;
    font-weight: lighter;
}
#About-Me p span{
    font-weight: bold;
}
.achive-desc p{
    margin-bottom: 20px !important;
}

/*------------------------ tutarial section start ------------------ */
#Tutarial{
    padding: 4% 10%;
    background: #a3d2ca;
}
.card{
    transition: .5s;
    border: 1px solid #ff02c0;

}
.card:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
/* -------------------------feedback section start ------------ */
#feedback{
    padding: 5%;
    background: #5eaaa3;
}
.carousel-item{
    text-align: center;
    padding: 7% 15%;
}
.feedback-img{
    width: 200px;
    height: Auto;
    margin-bottom: 5px;
}
/* ---------------contact me section star here ---------------- */
#Contact{
    padding: 2% 10%;
    background: #5eaaa8;
}
.form-group label{
    margin-bottom: 0;
    font-weight: bold;
}
/* ---------------footers start ------------------------ */
footer{
    padding: 2% 10%;
    background: #056676;
}
footer p {
    color:yellow;
}
footer a {
    text-decoration: None;
    color:orangered;
}